<!DOCTYPE html>
<html>
<head>
<title>FreeCodeCamp API Basejump: Image Search Abstraction Layer</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default navbar-xs" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="#"><b>Image</b> Search Abstraction Layer</a>
  </div>
</nav>
</div>
<!-- after navbar -->
<div class="container">
<div class="jumbotron">
  <h2>Just another FreeCodeCamp API Project</h2>
  <p>A project for the <a href="https://www.freecodecamp.com/challenges/image-search-abstraction-layer">Freecodecamp</a> curriculum.</p>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Objective</h3>
  </div>
  <div class="panel-body">
    <p>Build a full stack JavaScript app that does the following:
       <ul>
         <li>search for images like <a href="https://cryptic-ridge-9197.herokuapp.com/api/imagesearch/lolcats%20funny?offset=10">this</a></li>
         <li>browse recent search queries like <a href="https://cryptic-ridge-9197.herokuapp.com/api/latest/imagesearch/">this</a></li>
       </ul>
    </p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Usage #1</h3>
  </div>
  <div class="panel-body">
    <p>
       In order to get the image URLs, alt text and page urls relating to a given search string, user must navigate to '/api/images/' and then type his search.
    </p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Usage #2</h3>
  </div>
  <div class="panel-body">
    <p>
      User can paginate through the responses by adding a ?offset=2 parameter to the URL.
    </p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">User Story</h3>
  </div>
  <div class="panel-body">
    <p>
      I can get a list of the most recently submitted search strings.
    </p>
  </div>
</div>
<footer>
  Find/fork me on <a href="https://github.com/arialblack14/image-search">Github</a>.
</footer>
</div>
</body>
</html>
